@using PEngine.Web.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var categories = ViewData["Categories"] as List<Category>;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"]</title>

    @await RenderSectionAsync("OpenGraph", required: false)

    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/Rss" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <label class="toggle-menu" for="asideToggle">
            <i class="fa fa-bars"></i>
        </label>
        <brand>
            <form class="search-box" asp-controller="Search" method="get">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" name="keyword" placeholder="Search..." />
            </form>
        </brand>
        <menu>
            @if (ViewBag.Authenticated)
            {
                <a class="login-locked unlocked" asp-controller="User" asp-action="Logout">
                    <i class="fa fa-unlock"></i>
                </a>
            }
            else
            {
                <a class="login-locked" asp-controller="User" asp-action="Login">
                    <i class="fa fa-lock"></i>
                </a>
            }
        </menu>
    </header>
    <main>
        <input type="checkbox" id="asideToggle" />
        <aside>
            <ul class="gnb">
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-controller="Introduction" asp-action="Index">Introduction</a>
                </li>
                <li @(ViewData.ContainsKey("PostArea") ? "class=open" : "")>
                    <a asp-controller="Post" asp-action="List">Categories</a>

                    @if (categories is not null)
                    {
                        <ul class="submenu">
                            @foreach (var category in categories)
                            {
                                <li>
                                    <a asp-controller="Post" asp-action="List" asp-route-category="@category.Name">
                                        <span>@(string.IsNullOrEmpty(category.Name) ? "전체" : category.Name) (@category.Count)</span>
                                    </a>
                                </li>
                            }

                            @if (ViewBag.Authenticated)
                            {
                                <li>
                                    <a asp-controller="Post" asp-action="AddCategory">
                                        <i class="fa fa-plus"></i>
                                        Add Category
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                </li>
                <li>
                    <a asp-controller="Search">Search</a>
                </li>
                <li>
                    <a asp-controller="Guestbook">Guestbook</a>
                </li>
            </ul>
        </aside>
        <content>@RenderBody()</content>
    </main>
    <footer>
        <span>
            <a href="https://github.com/0x00000FF/PEngine" target="_blank">PEngine α</a> 
            &copy; P.Knowledge, @(DateTime.Now.Year).
        </span>
        <a class="mdd" href="/Misc/Mdd" target="_blank">Learn about MDD</a>
    </footer>

<script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
