@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PEngine.Web.Models

@model PEngine.Web.Models.Post?
@{
    ViewBag.Title = "Edit Post";
    Layout = "_Layout";

    var endpoint = Model is null ? "/Post/Write" : $"/Post/Modify";
    var categories = ViewData["Categories"] as List<Category>;

    if (categories is null)
    {
        return;
    }
}

@section Scripts {
    <script src="https://cdn.tiny.cloud/1/yqaoonr89lq9bf2icuu0tqh1ealzcgzpdart3okdscbk4bdg/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
          add_form_submit_trigger: true,
          selector: 'textarea',
          plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
          toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
}

<form class="editor-form" action="@endpoint" method="post">
    @if (Model is not null)
    {
        <input type="hidden" name="id" value="@Model.Id" />
    }
    
    <div class="editor-preamble">
        <select name="category">
            @foreach (var category in categories)
            {
                if (string.IsNullOrEmpty(category.Name))
                {
                    <option value="" >Uncategorized (@category.Count)</option>
                }
                else
                {
                    <option value="@category.Name">@category.Name (@category.Count)</option>
                }
            }
        </select>
        <input name="title" type="text" placeholder="Title" value="@Model?.Title"/>
    </div>

    <textarea name="content" readonly="readonly">@Model?.Content</textarea>

    <button class="button dark" id="postSave">
        <i class="fa fa-save"></i>
        Save
    </button>
    
    @Html.AntiForgeryToken()
</form>
