@using PEngine.Web.Models
@model IEnumerable<PEngine.Web.Models.Post>
@{
    ViewBag.Title = "Post List";
    Layout = "_Layout";

    var categories = ViewData["Categories"] as List<Category>;

    if (categories is null)
    {
        return;
    }
}

<div class="post-list-header">
    <ul class="category-wrapper">
        @foreach (var category in categories)
        {
            <li>
                <a asp-controller="Post" asp-action="List" asp-route-category="@category.Name">
                    @(string.IsNullOrEmpty(category.Name) ? "전체" : category.Name)
                    (@category.Count)
                </a>
            </li>
        }
    </ul>
    @if (ViewBag.Authenticated)
    {
        <a class="button dark" asp-controller="Post" asp-action="Write">
            <i class="fa-solid fa-pen"></i> Write
        </a>
    }
</div>

<ul class="post-list">
    @foreach (var post in Model)
    {
        <li class="post-item">
            <img alt="No Cover Image!"/>
            <a asp-controller="Post" asp-action="View" asp-route-id="@post.Id">
                <h3>@post.Title</h3>
                
                <ul class="metadata">
                    <li>
                        <i class="fa-solid fa-tags"></i>
                        @(post.Category ?? "Uncategorized")
                    </li>
                    <li>
                        <i class="fa-regular fa-clock"></i>
                        @post.WrittenAt.ToString("yyyy-MM-dd")
                    </li>
                    <li>
                        <i class="fa-regular fa-eye"></i>
                        @($"{post.Hits:N0}")
                    </li>
                    <li>
                        <i class="fa-regular fa-comment"></i>
                        0
                    </li>
                </ul>
            </a>
        </li>
    }
</ul>
