@model PEngine.Web.Models.ViewModels.PostVM
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@section OpenGraph {
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:url" content="/Post/View/@Model.Id" />
    <meta property="og:description" content=""/>
    <meta property="og:site_name" content="Patche's Blog with PEngine" />
    
    <!-- Use if cover exists -->
    <meta property="og:image" content="sample.jpg" />
}

<article>
    <h1 class="article-title">@Model.Title</h1>
    <ul class="metadata">
        <li>
            <i class="fa-solid fa-tag"></i>
            @(Model.Category ?? "Uncategorized")
        </li>
        <li>
            <i class="fa-solid fa-user"></i>
            @Model.WriterName
        </li>
        <li>
            <i class="fa-regular fa-calendar-days"></i>
            @Model.WrittenAt.ToString("yyyy. MM. dd. HH:mm:ss")
        </li>
        <li>
            <i class="fa-solid fa-eye"></i>
            @($"{Model.Hits:N0}") Hit(s)
        </li>
    </ul>
    <div class="article-body">
        @Html.Raw(Model.Content)
    </div>
    
    <label class="article-tail" for="commentBoxToggle">
        <span class="article-tail-label">
            <i class="fa-regular fa-comments"></i>
            0 Comments
        </span>
    </label>
    <input type="checkbox" id="commentBoxToggle" />     
        
    <div class="article-tail-collapsible" id="comments">
        <ul class="comment-list">
            <li>
                <img src="#" alt="profile" class="icon" />
                <div class="comment-content">
                    <ul class="comment-header">
                        <li>CommentWriter (127.0)</li>
                        <li>0000.00.00. 00:00:00</li>
                        <li class="comment-header-button">
                            <i class="fa-solid fa-reply"></i>
                            Reply
                        </li>
                        <li class="comment-header-button">
                            <i class="fa-solid fa-trash-can"></i>
                            Delete
                        </li>
                    </ul>
                    <div class="comment-body">
                        Lorem ipsum dolor sit amet. <br />
                        Lorem ipsum dolor sit amet. <br />
                        Lorem ipsum dolor sit amet. <br />
                        Lorem ipsum dolor sit amet. <br />
                        Lorem ipsum dolor sit amet. <br />
                        Lorem ipsum dolor sit amet. <br />
                    </div>
                </div>
            </li>
            <li>
                <img src="#" alt="profile" class="icon"/>
                <div class="comment-content">
                    <ul class="comment-header">
                        <li>CommentWriter (127.0)</li>
                        <li>0000.00.00. 00:00:00</li>
                        <li class="comment-header-button">
                            <i class="fa-solid fa-reply"></i>
                            Reply
                        </li>
                        <li class="comment-header-button">
                            <i class="fa-solid fa-trash-can"></i>
                            Delete
                        </li>
                    </ul>
                    <div class="comment-body">
                        Lorem ipsum dolor sit amet. <br />
                        Lorem ipsum dolor sit amet. <br />
                        Lorem ipsum dolor sit amet. <br />
                        Lorem ipsum dolor sit amet. <br />
                        Lorem ipsum dolor sit amet. <br />
                        Lorem ipsum dolor sit amet. <br />
                    </div>
                </div>
            </li>
        </ul>
    </div>
</article>