@model PEngine.Web.Models.ViewModels.PostVM
@{
    ViewBag.Title = Model.Title ?? "Untitled";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/vs2015.min.css" integrity="sha512-mtXspRdOWHCYp+f4c7CkWGYPPRAhq9X+xCvJMUBVAb6pqA4U8pxhT3RWT3LP3bKbiolYL2CkL1bSKZZO4eeTew==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

@section OpenGraph {
    <meta property="og:title" content="@Model.Title"/>
    <meta property="og:url" content="@(ViewData["UrlRoot"])/Post/View/@Model.Id"/>
    <meta property="og:description" content=""/>
    <meta property="og:site_name" content="Patche's Blog with PEngine"/>

    <meta name="twitter:card" content="summary">
    <meta property="twitter:domain" content="patche.me"> <!-- get from global settings -->
    <meta property="twitter:url" content="@(ViewData["UrlRoot"])/Post/View/@Model.Id">
    <meta name="twitter:title" content="@Model.Title">
    <meta name="twitter:description" content="">

    @if (Model.Thumbnail is not null)
    {
        <meta property="og:image" content="@(ViewData["UrlRoot"])/File/Thumbnail/@(Model.Thumbnail)"/>
        <meta name="twitter:image" content="@(ViewData["UrlRoot"])/File/Thumbnail/@Model.Thumbnail" />
    }
}

<article>
    <h1 class="article-title">@Model.Title</h1>
    <ul class="metadata">
        <li>
            <i class="fa-solid fa-tag"></i>
            @(Model.Category ?? "Uncategorized")
        </li>
        <li>
            <i class="fa-solid fa-user"></i>
            @Model.WriterName
        </li>
        <li>
            <i class="fa-regular fa-calendar-days"></i>
            @Model.WrittenAt.ToString("yyyy. MM. dd. HH:mm:ss")
        </li>
        <li>
            <i class="fa-solid fa-eye"></i>
            @($"{Model.Hits:N0}") Hit(s)
        </li>
    </ul>
    <div class="article-body">
        @Html.Raw(Model.Content)
    </div>
    
    <div class="article-tail">
        <label class="comment-box-toggle" for="commentBoxToggle">
            <span class="article-tail-label">
                <i class="fa-regular fa-comments"></i>
                <span>0</span> Comments
            </span>
        </label>
        <div class="article-tail-buttons">
            <a class="button dark" asp-controller="Post" asp-action="List">
                <i class="fa fa-list"></i>
                List
            </a>
            
            @if (ViewBag.Authenticated)
            {
                <a class="button dark" asp-controller="Post" asp-action="Modify" asp-route-id="@Model.Id">
                    <i class="fa fa-pencil"></i>
                    Modify
                </a>
                <a class="button crimson" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id">
                    <i class="fa fa-trash"></i>
                    Delete
                </a>
            }
        </div>
    </div>
    
    <input type="checkbox" id="commentBoxToggle" />     
        
    <div class="article-tail-collapsible" >
        <partial name="CommentEditor" />
        <div id="comments"></div>
    </div>
</article>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js" integrity="sha512-rdhY3cbXURo13l/WU9VlaRyaIYeJ/KBakckXIvJNAQde8DgpOmE+eZf7ha4vdqVjTtwQt69bD2wH2LXob/LB7Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script defer>
    (function ($) {
        $(function () {
            hljs.highlightAll();                   
        });
    })(jQuery);
</script>