@model PEngine.Web.Models.ViewModels.HomeVM
@{
	ViewData["Title"] = "MainPage";
}

<div class="post-shelf post-shelf-featured">
	Nothing Here... For now.
</div>

<div class="post-shelf">
	<h2>Latest Posts</h2>
	<ul class="post-shelf-list">
		@for (var i = 0; i < Model.Latest.Count; ++i)
		{
			var nothing = Model.Latest.Count <= i;
			
			if (nothing)
			{
				<li class="nothing">
					<i class="fas fa-exclamation-triangle"></i>
					<p>NOTHING HERE!</p>
				</li>
			}
			else
			{
				<li>
					<a asp-controller="Post" asp-action="View" asp-route-id="@Model.Latest[i].Id">
						@if (Model.Latest[i].Thumbnail is null)
						{
							<h3>@Model.Latest[i].Title</h3>
						}
						else
						{
							<img src="/File/Thumbnail/@Model.Latest[i].Thumbnail" class="post-shelf-thumbnail" />
						}
						<span>@Model.Latest[i].WrittenAt.ToString("yyyy-MM-dd HH:mm:ss")</span>
					</a>
				</li>
			}
		}
	</ul>
</div>

@foreach (var cat in Model.Categories)
{
	<div class="post-shelf">
		<h2>@cat.Key</h2>
		<ul class="post-shelf-list">
			@for (var i = 0; i < 4; ++i)
			{
				var nothing = cat.Value.Count <= i;
			
				if (nothing)
				{
					<li class="nothing">
						<i class="fas fa-exclamation-triangle"></i>
						<p>NOTHING HERE!</p>
					</li>
				}
				else
				{
					<li>
						<a asp-controller="Post" asp-action="View" asp-route-id="@cat.Value[i].Id">
							<h3>@cat.Value[i].Title</h3>
							<span>@cat.Value[i].WrittenAt.ToString("yyyy-MM-dd HH:mm:ss")</span>
						</a>
					</li>
				}
			}
		</ul>
	</div>
}